/* Iphone page */
.title-wrapper {
  font-size: 32px;
  font-weight: 700;
}
.brief-description {
  font-size: 24px;
  font-weight: 600;
}
.product-title {
  font-size: 30px;
  font-weight: 700;
}
.product-brief {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}
.starting-price {
  font-size: 20px;
  font-weight: 600;
}
.monthly-price {
  margin: 10px 0;
}
.product-holder {
  margin: 50px 0;
}

.links-wrapper ul li {
  text-decoration: none;
  list-style: none;
}
.links-wrapper ul li a {
  text-decoration: none;
  list-style: none;
}
.links-wrapper ul li a::after {
  font-family: "fontawesome";
  content: "\f105";
  margin-left: 10px;
  font-weight: 900;
}
.product-image img {
  width: 100%;
}
